
.vs/picscoin/v16/.suo
.vs/picscoin/v16/Browse.VC.db
.vs/picscoin/v16/Browse.VC.opendb
.vs/picscoin/v16/ipch/AutoPCH/4fe64e78d5fda6f1/CHAINPARAMS.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
