# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit picscoind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/picscoin/picscoin.conf, except for those explicitly specified as arguments
# in ExecStart=

[Unit]
Description=Picscoin daemon
After=network.target

[Service]
ExecStart=/usr/bin/picscoind -daemon \
                            -pid=/run/picscoind/picscoind.pid \
                            -conf=/etc/picscoin/picscoin.conf \
                            -datadir=/var/lib/picscoind

# Process management
####################

Type=forking
PIDFile=/run/picscoind/picscoind.pid
Restart=on-failure

# Directory creation and permissions
####################################

# Run as picscoin:picscoin
User=picscoin
Group=picscoin

# /run/picscoind
RuntimeDirectory=picscoind
RuntimeDirectoryMode=0710

# /etc/picscoin
ConfigurationDirectory=picscoin
ConfigurationDirectoryMode=0710

# /var/lib/picscoind
StateDirectory=picscoind
StateDirectoryMode=0710

# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
